.left_categories, .right_content{
    color:#ffffff;
    }
    .left_categories{
    padding: 30px 15px;
    background-color:#252c2f;
    overflow-y: auto;
    overflow-x: hidden;
    }

    .category, .wrapper_content{
        background-color:#181d20;
        border-radius: 10px;
        margin: 5px 0;
        padding:5px 20px;
        }
        .category{
        border: 2px solid rgba(0, 0, 0, 0.5);
        text-align:center;
        vertical-align: middle;
        cursor: pointer;
        }
        .category p{
        color:#ffefdc;
        margin:5px 0;
        font-weight: 800;
        font-size: 17px;
        }
        .category .col-6 p{
        color:#ffffff;
        font-weight: lighter;
        font-size:14px;
        }