<div class="body" style="background-color: #283033">
  <div class="top_all">
    <app-header> </app-header>
  </div>
  <div class="container">
    <div class="groupColumn">
      <div *ngFor="let grp of group; index as i">
        <app-success-categories
          [group]="grp"
          (displayGroup)="displayGroup($event)"
        >
        </app-success-categories>
      </div>
    </div>
    <div class="successColumn">
      <div *ngFor="let s of success; index as i">
        <app-success-card style="padding: 2px" [success]="s"></app-success-card>
      </div>
      <div>
      <div *ngIf="isEmpty()" class="pageWelcomeHome">
        <div class="Yae-center">
            <p>
              Bienvenue sur l'outil pour trouver et sauvegarder vos succes !
            </p>
          <img class="image" src="./assets/yae.png" />
        </div></div>
      </div>
    </div>
  </div>
</div>
